In [ ]:
#Importing packages
import numpy as np
import pandas as pd
import warnings
import io
warnings.filterwarnings("ignore")
from google.colab import files

In [60]:
#Uploading files in colab
uploaded = files.upload()

Saving electricity_demand.csv to electricity_demand.csv

In [41]:
#Fetching data set for rainfall attribute from Bureau of Meteorology
datasetrainfall = pd.read_csv(io.BytesIO(uploaded['IDCJAC0009_086338_2020_Data.csv']))

In [29]:
#Fetching data set for solar exposure attribute from Bureau of Meteorology
datasetsolarexposure = pd.read_csv(io.BytesIO(uploaded['IDCJAC0016_086338_2020_Data.csv']))

In [50]:
#Fetching data set for maximum temperature attribute from Bureau of Meteorology
datasetmaxtemperature = pd.read_csv(io.BytesIO(uploaded['IDCJAC0010_086338_2020_Data.csv']))

In [56]:
#Manually formed the csv file and integrated data as availability
dataschooldays = pd.read_csv(io.BytesIO(uploaded['Schooldata.csv']))

In [61]:
#Data from kaggle data source
electricity_demand = pd.read_csv(io.BytesIO(uploaded['electricity_demand.csv']))

In [3]:
#Manually formed the csv file containing date from 7 October 2020 to 28 February 2021
dataset = pd.read_csv(io.BytesIO(uploaded['Missing_Value.csv']))

In [5]:
#Holiday list is formed using data source https://www.business.vic.gov.au/victorian-public-holidays-and-daylight-saving/victorian-public-holidays-2021
holiday_list = ['10/23/2020','11/3/2020','12/25/2020','12/28/2020','1/1/2021','1/26/2021']

In [6]:
#Assigned label 'Y' to all the holidays
dataset['holiday'].loc[dataset['date'].isin(holiday_list)] = 'Y'

In [7]:
#Assigned label 'N' to remaining null values
dataset['holiday'] = dataset['holiday'].fillna('N')

In [ ]:
#Displaying data
dataset.loc[dataset['date'].isin(holiday_list)]

In [42]:
#Display data
datasetrainfall.tail()

    Product code  ...  Quality
140   IDCJAC0009  ...        N
141   IDCJAC0009  ...        N
142   IDCJAC0009  ...        N
143   IDCJAC0009  ...        N
144   IDCJAC0009  ...        N

[5 rows x 8 columns]

In [36]:
#Creating dataframe for solarexposure
datasetsolarexposure.head()

datasolar = pd.DataFrame(columns=['date','solar_exposure'])

datasolar['date'] = datasetsolarexposure['Month'].map(str)+'/'+datasetsolarexposure['Day'].map(str)+'/'+datasetsolarexposure['Year'].map(str)
datasolar['solar_exposure'] = datasetsolarexposure['Daily global solar exposure (MJ/m*m)']

In [37]:
datasolar.head()

         date  solar_exposure
0   10/7/2020             8.6
1   10/8/2020             9.7
2   10/9/2020            12.1
3  10/10/2020            17.7
4  10/11/2020            20.7

In [38]:
#Updating the data set on the basis of dates for solar exposure attribute
dataset.update(datasolar)

In [44]:
#Creating dataframe for rainfall
datarainfall = pd.DataFrame(columns=['date','rainfall'])

datarainfall['date'] = datasetrainfall['Month'].map(str)+'/'+datasetrainfall['Day'].map(str)+'/'+datasetrainfall['Year'].map(str)
datarainfall['rainfall'] = datasetrainfall['Rainfall amount (millimetres)']

In [45]:
#Updating the data set on the basis of dates for rainfall attribute
dataset.update(datarainfall)

In [59]:
dataset.head()

          date  demand  RRP  ...  rainfall  school_day  holiday
140  2/24/2021     NaN  NaN  ...       0.0           Y        N
141  2/25/2021     NaN  NaN  ...       0.0           Y        N
142  2/26/2021     NaN  NaN  ...       0.4           Y        N
143  2/27/2021     NaN  NaN  ...       0.0           N        N
144  2/28/2021     NaN  NaN  ...       0.0           N        N

[5 rows x 14 columns]

In [51]:
datasetmaxtemperature.head()

  Product code  ...  Quality
0   IDCJAC0010  ...        Y
1   IDCJAC0010  ...        Y
2   IDCJAC0010  ...        Y
3   IDCJAC0010  ...        Y
4   IDCJAC0010  ...        Y

[5 rows x 8 columns]

In [52]:
#Creating dataframe for maximum temperature
datamaxtemperature = pd.DataFrame(columns=['date','max_temperature'])

datamaxtemperature['date'] = datasetmaxtemperature['Month'].map(str)+'/'+datasetmaxtemperature['Day'].map(str)+'/'+datasetmaxtemperature['Year'].map(str)
datamaxtemperature['max_temperature'] = datasetmaxtemperature['Maximum temperature (Degree C)']

In [53]:
#Updating the data set on the basis of dates for maximum temperature attribute
dataset.update(datamaxtemperature)

In [57]:
#Updating the data set on the basis of dates for school day attribute
dataset.update(dataschooldays)

In [62]:
electricity_demand.head()

         date      demand        RRP  ...  rainfall  school_day  holiday
0  2015-01-01   99635.030  25.633696  ...       0.0           N        Y
1  2015-01-02  129606.010  33.138988  ...       0.0           N        N
2  2015-01-03  142300.540  34.564855  ...       0.0           N        N
3  2015-01-04  104330.715  25.005560  ...       4.2           N        N
4  2015-01-05  118132.200  26.724176  ...       0.0           N        N

[5 rows x 14 columns]

In [64]:
#Concatenating two dataframes
listofdf = [electricity_demand,dataset]
electricity_demand_updated = pd.concat(listofdf)

In [66]:
electricity_demand_updated.tail()

          date  demand  RRP  ...  rainfall  school_day  holiday
140  2/24/2021     NaN  NaN  ...       0.0           Y        N
141  2/25/2021     NaN  NaN  ...       0.0           Y        N
142  2/26/2021     NaN  NaN  ...       0.4           Y        N
143  2/27/2021     NaN  NaN  ...       0.0           N        N
144  2/28/2021     NaN  NaN  ...       0.0           N        N

[5 rows x 14 columns]

In [67]:
#Converting dataframe to csv file and downloading the file
electricity_demand_updated.to_csv('electricity_demand.csv') 
files.download('electricity_demand.csv')