## Urban Heat Island (UHI) effect reduction 
### Written by: Amy Tran

## Scenario

## Objective

# Datasets
trees-with-species-and-dimensions-urban-forest<br>
laneways-with-greening-potential<br>
sensor-readings-with-temperature-light-humidity-every-5-minutes-at-8-locations-t

## Codes

#### Load data

In [73]:
import pandas as pd
import numpy as np
import requests

In [74]:
#Set api key
API_KEY = ''
headers = {}
headers['Accept'] = 'application/json; charset=utf-8json'
headers['Authorization'] = API_KEY
headers

session = requests.Session()
session.headers.update(headers)

In [75]:
#Create function to make iterative calls 
def get_data(base, url, size = 0):
    filters = f'records?limit={10}&offset={size}&timezone=UTC'
    target_url = f'{base}{url}/{filters}'
    result = session.get(target_url+f'&apikey={API_KEY}')
    result_json = result.json()
    max_results = result_json['total_count']
    links = result_json['links']
    records = result_json['records']
    records_df = pd.json_normalize(records)
    
    #Update column labels
    records_df.drop(columns=['links'],inplace=True)
    column_names = records_df.columns.values.tolist()

    #Replace geolocation.lat & geolocation.lon
    column_names = ['_'.join((a.split(".")[-2:])) if a.split('.')[-2]=='geolocation' else a for a in column_names]
    column_names = [i.split('.')[-1] for i in column_names]
    records_df.columns = column_names
    
    next_url = None
             
    #Obtain next url
    if records_df.shape[0] != max_results:
        for l in links:
             if l['rel'] == 'next':
                next_url = l['href']
    
    return[records_df, next_url, column_names]

In [77]:
#Extract urban forest data 
url_next = ''
df = pd.DataFrame()
base = 'https://data.melbourne.vic.gov.au/api/v2/catalog/datasets/'
url = 'trees-with-species-and-dimensions-urban-forest'

while df.shape[0] < 60: #60 records for testing purpose
#while url_next != None:
    df_new, url_next, column_names = get_data(base, url, df.shape[0])
    df = df.append(df_new, ignore_index=True)

In [81]:
urban_forest = df.copy()
urban_forest.head()

In [83]:
#Extract laneways-with-greening-potential data 
url_next = ''
df = pd.DataFrame()
base = 'https://data.melbourne.vic.gov.au/api/v2/catalog/datasets/'
url = 'laneways-with-greening-potential'

while df.shape[0] < 60: #60 records for testing purpose
#while url_next != None:
    df_new, url_next, column_names = get_data(base, url, df.shape[0])
    df = df.append(df_new, ignore_index=True)

In [85]:
laneways = df.copy()
laneways.head()

,id,timestamp,size,lon,lat,type,coordinates,type,segid_1,mapbase_mc,...,farmlane,walls,farm_rank,vert_rank,fores_rank,forest,park_rank,binsperct,mapbase_1,wsud
0,5d9a8f1042ccc02565b77b93d2d6c4990c2b5d08,2022-11-13T10:04:39.289Z,1122,144.962345,-37.819801,Feature,"[[[[144.96165062306, -37.819819274308735], [14...",MultiPolygon,10714,10714.0,...,58.518386,Probably Unsuitable,Highest Potential,Lowest potential,Lowest potential,0.000000,Highest potential,0.0,Banana Alley,Probably Unsuitable
1,8561f14f0776f2b519a2a9b6e571a0e69a37ee8c,2022-11-13T10:04:39.289Z,550,144.971708,-37.810976,Feature,"[[[[144.9716166150692, -37.810703392523386], [...",MultiPolygon,20229,20229.0,...,0.000000,Probably Unsuitable,Lowest potential,Lowest potential,Good potential,49.153357,Lowest potential,60.0,Harwood Place,Consider
2,5e5bc68633c045cb033cdb0040071954991cac5d,2022-11-13T10:04:39.289Z,595,144.972440,-37.811112,Feature,"[[[[144.97272840399364, -37.81106832068803], [...",MultiPolygon,20230,20230.0,...,0.000000,Consider,Lowest potential,Highest potential,Lowest potential,0.000000,Lowest potential,60.0,Turnbull Alley,Consider
3,aaa393317ea29ce0ce1cf95a421d032dc6c75f8d,2022-11-13T10:04:39.289Z,520,144.970774,-37.811612,Feature,"[[[[144.97055325619436, -37.81165415859732], [...",MultiPolygon,20233,20233.0,...,0.000000,Probably Unsuitable,Lowest potential,Lowest potential,Lowest potential,0.000000,Lowest potential,60.0,Mornane Place,Consider
4,8c3d6a4d255dd4c711d13193c7c6663ad79df9ff,2022-11-13T10:04:39.289Z,799,144.971376,-37.812473,Feature,"[[[[144.97147118320112, -37.812726319334566], ...",MultiPolygon,20238,20238.0,...,0.000000,Consider,Lowest potential,Good potential,Good potential,37.570031,Lowest potential,40.0,Westwood Place,Consider

In [86]:
#Extract laneways-with-greening-potential data 
url_next = ''
df = pd.DataFrame()
base = 'https://data.melbourne.vic.gov.au/api/v2/catalog/datasets/'
url = 'sensor-readings-with-temperature-light-humidity-every-5-minutes-at-8-locations-t'

while df.shape[0] < 60: #60 records for testing purpose
#while url_next != None:
    df_new, url_next, column_names = get_data(base, url, df.shape[0])
    df = df.append(df_new, ignore_index=True)

In [87]:
temp_data = df.copy()
temp_data.head()

,id,timestamp,size,timestamp,mac,boardtype,boardid,temp_max,temp_min,temp_avg,...,humidity_avg,model,latitude,longitude,elevation,location,rowid,position,geolocation_lon,geolocation_lat
0,c1b1eaf52f4e090f6e9591335712e2a2b7cda7ba,2022-11-13T10:00:36.149Z,231,2014-12-15T01:45:00+00:00,0013a20040b5b318,1,502,21.3,21.3,21.3,...,45.3,ENV,-37.814610,144.979018,22.57,Fitzroy Gardens,502-20141215014500,None,144.979018,-37.814610
1,5d367429b208a7ecb8b8014cfe91f890b7518279,2022-11-13T10:00:36.149Z,230,2014-12-15T01:50:00+00:00,0013a20040b4b755,1,508,21.3,21.3,21.3,...,41.2,ENV,-37.813408,144.979492,30.1,Fitzroy Gardens,508-20141215015000,None,144.979492,-37.813408
2,876403629a3f9a92808e34309deb784d71a49820,2022-11-13T10:00:36.149Z,229,2014-12-15T01:55:00+00:00,0013a20040b516ed,1,505,23.2,23.2,23.2,...,47.0,ENV,-37.813073,144.980406,29.91,Fitzroy Gardens,505-20141215015500,None,144.980406,-37.813073
3,9f776a274ec90cb2ac08ced7ee6073620cb6a358,2022-11-13T10:00:36.149Z,227,2014-12-15T03:55:00+00:00,0013a20040b3155c,1,506,23.5,23.5,23.5,...,44.5,ENV,-37.820354,144.940482,NaN,Docklands Library,506-20141215035500,None,144.940482,-37.820354
4,f81c487302e5a977dcce8ac8376e3fbe1e6ae339,2022-11-13T10:00:36.149Z,227,2014-12-15T03:55:00+00:00,0013a20040b5b337,1,511,23.5,23.5,23.5,...,43.1,ENV,-37.819500,144.941889,NaN,Docklands Library,511-20141215035500,None,144.941889,-37.819500