This file is to provide starter code to integrate the new ETL files into the main website so that the files can be read continuously.  This is code to read files locally and then I have put some code to read in AWS.

In [56]:
#Locate files on the local drive.  This needs to be done locally in AWS.

import os
import datetime
import pandas as pd
import numpy as np

os.getcwd()

'/Users/jason/Documents/SIT784/Daily_Files'

In [5]:
os.chdir('/Users/jason/Documents/SIT784/Daily_Files')
os.getcwd()

#key = 'parkingsensor/daily/'  in amazon

'/Users/jason/Documents/SIT784/Daily_Files'

In [12]:
#Get current date.  In Amazon it is in UTC time and you need to convert it to AEST


a = datetime.datetime.today().replace(microsecond=0)
ts = pd.Timestamp(a, tz = "UTC")
d = ts.tz_convert(tz='Australia/Victoria')
d

Timestamp('2021-09-22 05:24:48+1000', tz='Australia/Victoria')

In [20]:
print(f'{a.date()}')

2021-09-21

In [18]:
d.date

In [22]:
test = pd.read_csv(f'{a.date()}.csv')
test

#In Amazon

# pd.read_csv(f'{d.date()}.csv')

        bay_id st_marker_id      status                   datetime
0         3971        C5910     Present  2021-09-21 00:12:13+10:00
1         3987        C5942     Present  2021-09-21 00:12:13+10:00
2         3630        7579S     Present  2021-09-21 00:12:13+10:00
3         3637        7590N  Unoccupied  2021-09-21 00:12:13+10:00
4         3808        C5452  Unoccupied  2021-09-21 00:12:13+10:00
...        ...          ...         ...                        ...
101843     952         C814  Unoccupied  2021-09-21 19:12:13+10:00
101844    1545        1918N  Unoccupied  2021-09-21 19:12:13+10:00
101845    5876       12900N     Present  2021-09-21 19:12:13+10:00
101846     877         775W     Present  2021-09-21 19:12:13+10:00
101847    1471        1775S     Present  2021-09-21 19:12:13+10:00

[101848 rows x 4 columns]

In [73]:
#To get current status of carparks

bay = test.loc[test['datetime'] == test.iloc[-1, -1]]
print(bay)

#Specific st_marker_id's
st_marker = ['C5910','C5942', 'C6116']  #as an example

        bay_id st_marker_id      status                   datetime
100482    3971        C5910     Present  2021-09-21 19:12:13+10:00
100483    3987        C5942     Present  2021-09-21 19:12:13+10:00
100484    4039        C6116  Unoccupied  2021-09-21 19:12:13+10:00
100485    3637        7590N  Unoccupied  2021-09-21 19:12:13+10:00
100486    5851        C9106  Unoccupied  2021-09-21 19:12:13+10:00
...        ...          ...         ...                        ...
101843     952         C814  Unoccupied  2021-09-21 19:12:13+10:00
101844    1545        1918N  Unoccupied  2021-09-21 19:12:13+10:00
101845    5876       12900N     Present  2021-09-21 19:12:13+10:00
101846     877         775W     Present  2021-09-21 19:12:13+10:00
101847    1471        1775S     Present  2021-09-21 19:12:13+10:00

[1366 rows x 4 columns]

In [77]:
bay.groupby[(columns = ['status'])]

SyntaxError: invalid syntax (<ipython-input-77-a027569aa09f>, line 1)

In [68]:
test.iloc[-1, -1]

'2021-09-21 19:12:13+10:00'