In [28]:
#libraries
import pandas as pd
import numpy as np
import time
import datetime
import matplotlib as plt
import scipy

In [13]:
#import Min Max Temperature (already formatted in Excel)

MinMax = pd.read_csv('/Users/jason/Documents/SIT764/Sub Team B/Min Max Temp.csv')
MinMax

,Product code,Bureau of Meteorology station number,Year,Month,Day,Day of the Year,Minimum temperature (Degree C),Maximum temperature (Degree C)
0,IDCJAC0010,86338,2015,1,1,1,13.3,26.9
1,IDCJAC0010,86338,2015,1,2,2,15.4,38.8
2,IDCJAC0010,86338,2015,1,3,3,20.0,38.2
3,IDCJAC0010,86338,2015,1,4,4,16.3,21.4
4,IDCJAC0010,86338,2015,1,5,5,15.0,22.0
...,...,...,...,...,...,...,...,...
2284,IDCJAC0010,86338,2021,4,3,93,15.1,31.6
2285,IDCJAC0010,86338,2021,4,4,94,15.2,24.5
2286,IDCJAC0010,86338,2021,4,5,95,16.0,19.0
2287,IDCJAC0010,86338,2021,4,6,96,12.8,20.2
2288,IDCJAC0010,86338,2021,4,7,97,14.9,23.0

In [14]:
MinMax.shape

(2289, 8)

In [15]:
#Check for missing values

MinMax.isnull().sum()

Product code                            0
Bureau of Meteorology station number    0
Year                                    0
Month                                   0
Day                                     0
Day of the Year                         0
Minimum temperature (Degree C)          0
Maximum temperature (Degree C)          0
dtype: int64

In [16]:
#Delete columns that are irrelevant for prediction

MinMax = MinMax.drop(columns = ["Product code", "Bureau of Meteorology station number"])
MinMax.shape

(2289, 6)

In [19]:
#Rename min and max columns for easier coding

MinMax = MinMax.rename(columns = {'Minimum temperature (Degree C)': 'Min'})
MinMax = MinMax.rename(columns = {'Maximum temperature (Degree C)': 'Max'})
MinMax

      Year  Month  Day  Day of the Year   Min   Max
0     2015      1    1                1  13.3  26.9
1     2015      1    2                2  15.4  38.8
2     2015      1    3                3  20.0  38.2
3     2015      1    4                4  16.3  21.4
4     2015      1    5                5  15.0  22.0
...    ...    ...  ...              ...   ...   ...
2284  2021      4    3               93  15.1  31.6
2285  2021      4    4               94  15.2  24.5
2286  2021      4    5               95  16.0  19.0
2287  2021      4    6               96  12.8  20.2
2288  2021      4    7               97  14.9  23.0

[2289 rows x 6 columns]

In [48]:
#Test for predictive values of columns
from scipy import stats
a = MinMax['Day']
b = MinMax['Min']
c = MinMax['Max']
print(stats.pearsonr(a,b))
print(stats.pearsonr(a,c))

(-0.009218111769541591, 0.6593613073285809)
(-0.010700769733552119, 0.6088629298387787)

In [49]:
#Test for predictive values of columns
a = MinMax['Day of the Year']
b = MinMax['Min']
c = MinMax['Max']
print(stats.pearsonr(a,b))
print(stats.pearsonr(a,c))

(-0.28855363275401014, 3.8613917188494313e-45)
(-0.19512225024695978, 4.471484419114694e-21)

In [50]:
#Test for predictive values of columns
a = MinMax['Year']
b = MinMax['Min']
c = MinMax['Max']
print(stats.pearsonr(a,b))
print(stats.pearsonr(a,c))

(0.031119063230355272, 0.1366475590351317)
(0.034747609209749716, 0.096504580258578)

In [51]:
a = MinMax['Month']
b = MinMax['Min']
c = MinMax['Max']
print(stats.pearsonr(a,b))
print(stats.pearsonr(a,c))

(-0.2910706019009437, 6.195349994483206e-46)
(-0.19692108832941452, 1.9157219289676866e-21)

#### Day of the Month < r = |0.01| and Year < r = |0.04| consider removing for better prediction.