<div class="usecase-title">{Bins for events Argyle Squrae}</div>

<div class="usecase-authors"><b>Authored by: </b> {Alison Collins}</div>

<div class="usecase-duration"><b>Duration:</b> {90} mins</div>

<div class="usecase-level-skill">
    <div class="usecase-level"><b>Level: </b>{Intermediate}</div>
    <div class="usecase-skill"><b>Pre-requisite Skills: </b>{Python}</div>
</div>

<div class="usecase-section-header">Scenario</div>

{If you are planning an event at Argyle Square you will need to know if you need to hire additional bins. This use case seeks to determine th ebin capacity during events and make recommendations on the need for more bins based on event attendee numbers.}

<div class="usecase-section-header">What this use case will teach you</div>

At the end of this use case you will:
- {list the skills demonstrated in your use case}

<div class="usecase-section-header">{Heading for introduction or background relating to problem}</div>

{Write your introduction here. Keep it concise. We're not after "War and Peace" but enough background information to inform the reader on the rationale for solving this problem or background non-technical information that helps explain the approach. You may also wish to give information on the datasets, particularly how to source those not being imported from the client's open data portal.}

In [1]:
# Import required modules
import requests
import pandas as pd
import os

In [5]:
#Import datasets using csv as API has limits 
ss = pd.read_csv("https://data.melbourne.vic.gov.au/api/explore/v2.1/catalog/datasets/meshed-sensor-type-3/exports/csv?lang=en&timezone=Australia%2FSydney&use_labels=true&delimiter=%2C")
ss.head()

,dev_id,Sensor Name,date_measure,temperature,humidity,light,motion,visit,vdd,Lat Long
0,ers-55eb,NaN,2022-12-14T07:09:42+11:00,10.5,89,297,0,0,3638,NaN
1,ers-55ea,NaN,2022-12-14T07:26:03+11:00,10.6,88,136,0,0,3635,NaN
2,ers-55eb,NaN,2022-12-14T07:34:47+11:00,10.8,89,698,0,0,3638,NaN
3,ers-55eb,NaN,2022-12-14T07:39:48+11:00,10.9,89,582,0,0,3638,NaN
4,ers-55ea,NaN,2022-12-14T07:41:06+11:00,10.9,88,858,0,0,3630,NaN

In [2]:
!jupyter nbconvert --to html usecase_TEMPLATE_COPY.ipynb

[NbConvertApp] Converting notebook usecase_TEMPLATE_COPY.ipynb to html
[NbConvertApp] Writing 588410 bytes to usecase_TEMPLATE_COPY.html