In [2]:
#!/usr/bin/env python

# make sure to install these packages before running:
!pip install sodapy

Requirement already satisfied: sodapy in /usr/local/lib/python3.6/dist-packages (2.1.0)
Requirement already satisfied: requests>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from sodapy) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->sodapy) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->sodapy) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->sodapy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->sodapy) (2020.11.8)

In [4]:
#import the libraries 
import numpy as np
import pandas as pd
from pandas import DataFrame as df, Series as se
#import the library for the API
from sodapy import Socrata

In [10]:
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.melbourne.vic.gov.au", None)


#getting the pedestrian count data from city of melbourne website from 2009-05-01 to 
#2020-10-31
results = client.get("b2ak-trbp", limit=3391522)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [11]:
results_df

              id  ... hourly_counts
0        2887628  ...           300
1        2887629  ...           604
2        2887630  ...           216
3        2887631  ...           627
4        2887632  ...           774
...          ...  ...           ...
3391517  3391518  ...             0
3391518  3391519  ...             0
3391519  3391520  ...             0
3391520  3391521  ...             0
3391521  3391522  ...            16

[3391522 rows x 10 columns]

In [12]:
#Examining the data types of the features of the dataset  
results_df.dtypes

id               object
date_time        object
year             object
month            object
mdate            object
day              object
time             object
sensor_id        object
sensor_name      object
hourly_counts    object
dtype: object

In [13]:
results_df['date'] = results_df['mdate'] + '-' + results_df['month'] + '-' + results_df['year']
results_df.drop(columns=['id',	'date_time','year',	'month',	'mdate',	'day',	'time' ], inplace = True)

In [14]:
#converting 'sensor_id' and 'hourly_counts' features from object datatypes to int
results_df[['sensor_id','hourly_counts']] = results_df[['sensor_id','hourly_counts']].astype('int')
results_df

         sensor_id  ...             date
0               34  ...  1-November-2019
1               39  ...  1-November-2019
2               37  ...  1-November-2019
3               40  ...  1-November-2019
4               36  ...  1-November-2019
...            ...  ...              ...
3391517         67  ...  31-October-2020
3391518         68  ...  31-October-2020
3391519         69  ...  31-October-2020
3391520         70  ...  31-October-2020
3391521         71  ...  31-October-2020

[3391522 rows x 4 columns]

In [15]:
#Examining the features after data type conversion
results_df.dtypes

sensor_id         int64
sensor_name      object
hourly_counts     int64
date             object
dtype: object

In [17]:
#converting date_time feature from object datatypes to date
results_df['date'] = results_df['date'].astype('datetime64[ns]')
results_df

         sensor_id  ...       date
0               34  ... 2019-11-01
1               39  ... 2019-11-01
2               37  ... 2019-11-01
3               40  ... 2019-11-01
4               36  ... 2019-11-01
...            ...  ...        ...
3391517         67  ... 2020-10-31
3391518         68  ... 2020-10-31
3391519         69  ... 2020-10-31
3391520         70  ... 2020-10-31
3391521         71  ... 2020-10-31

[3391522 rows x 4 columns]

In [18]:
#Examining the features after data type conversion
results_df.dtypes

sensor_id                 int64
sensor_name              object
hourly_counts             int64
date             datetime64[ns]
dtype: object

In [21]:
#extracting data from 2015 till date
results_df = results_df[results_df['date'] > '2014-12-31']

In [24]:
results_df

         sensor_id  ...       date
0               34  ... 2019-11-01
1               39  ... 2019-11-01
2               37  ... 2019-11-01
3               40  ... 2019-11-01
4               36  ... 2019-11-01
...            ...  ...        ...
3391517         67  ... 2020-10-31
3391518         68  ... 2020-10-31
3391519         69  ... 2020-10-31
3391520         70  ... 2020-10-31
3391521         71  ... 2020-10-31

[2367574 rows x 4 columns]

In [23]:
#Aggregating hourly pedestrian count for each by sensor-id
new_results_df = pd.DataFrame(results_df.groupby(['date', 'sensor_id'])['hourly_counts'].sum())
new_results_df = new_results_df.reset_index()
new_results_df

            date  sensor_id  hourly_counts
0     2015-01-01          2          21217
1     2015-01-01          3          32695
2     2015-01-01          4          36958
3     2015-01-01          5          31224
4     2015-01-01          6          20457
...          ...        ...            ...
98662 2020-10-31         67           4718
98663 2020-10-31         68           2447
98664 2020-10-31         69           3428
98665 2020-10-31         70           3035
98666 2020-10-31         71            358

[98667 rows x 3 columns]

In [26]:
#renaming the hourly_count column
new_results_df = new_results_df.rename(columns={"hourly_counts": "Total_Pedestrian_Count"})
new_results_df

            date  sensor_id  Total_Pedestrian_Count
0     2015-01-01          2                   21217
1     2015-01-01          3                   32695
2     2015-01-01          4                   36958
3     2015-01-01          5                   31224
4     2015-01-01          6                   20457
...          ...        ...                     ...
98662 2020-10-31         67                    4718
98663 2020-10-31         68                    2447
98664 2020-10-31         69                    3428
98665 2020-10-31         70                    3035
98666 2020-10-31         71                     358

[98667 rows x 3 columns]